<%- include("../includes/head.ejs") %>
    <link rel="stylesheet" href="/css/404.css">
    </head>

    <body>
        <div class="over404">
            <div class="darkOverlay"></div>
            <header>
                <h1 class="glitch" data-text="404">404</h1>
            </header>
        </div>
    </body>

<%- include("../includes/end.ejs") %>